/* Drum Kit (style.css) */

body {
  text-align: center;
  background-color: white;
}

h1 {
  font-family: monospace;
  font-size: 100px;
  color: black;
}

.set {
  margin: 100px auto;
}

.w {
  background-image: url("./assets/tom1.png");
}

.a {
  background-image: url("assets/tom2.png");
}

.s {
  background-image: url("assets/tom3.png");
}

.d {
  background-image: url("./assets/tom4.png");
}

.j {
  background-image: url("./assets/snare.png");
}

.k {
  background-image: url("./assets/crash.png");
}

.l {
  background-image: url("./assets/kick.png");
}

.pressed {
  box-shadow: 0 10px 10px 1px black;
  opacity: 0.4;
}

.drum {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  font-size: 100px;
  color: orange;
  border: 5px solid purple;
  border-radius: 20px;
}

footer {
  color: black;
  font-size: 25px;
}

/* Media Queries */

@media (max-width: 1250px) {

  h1 {
    font-size: 60px;
  }

  .drum {
    font-size: 80px;
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 50px;
  }

  .drum {
    font-size: 45px;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {

  h1 {
    font-size: 30px;
  }

  footer {
    font-size: 10px;
  }
}
